.bgwidget {
  background-image: url('/img/wok.jpg');
  height: 500px;
  background-size: cover;
  background-repeat:no-repeat;
}

.lilbox {
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px black solid;
}

.ourFood {
  background-image: url('/img/ourFoodSQ.jpg');
}

.ourStory {
  background-image: url('/img/AboutVictorSQ.jpg');
  background-position: 0 0;
}

@media (max-width: 766px) {
  .bgwidget {
    background-position: 77% 0 ;
  }
}
